#muscle-group {
    font-size: 20px;
    /* Adjust as needed */
    padding: 10px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
    color: var(--background-color);
    margin: 20px;
    /* Adjust as needed */
}

#make-plans-button {
    font-size: 20px;
    /* Adjust as needed */
    padding: 10px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
    color: var(--background-color);
    margin: 20px;
    /* Adjust as needed */
}