:root {
    --text-color: #f9fbee;
    --background-color: #070802;
    --primary-color: #170869;
    --secondary-color: #1f092a;
    --accent-color: #2e64d1;
}

/* Define the stylized colors as variables */

body {
    color: var(--text-color);
    background-color: var(--background-color);
    padding-top: 0px;
    margin-top: 0px;
}

/* And so on for the other colors */

.stickyfooter {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    /* height: 8%;  */
}

#header-container {
    background-color: #333;
    /* Background color for the header */
    color: #fff;
    /* Text color for the header */
    padding: 10px 0;
    /* Add some padding for spacing */
    font-family: Arial, sans-serif;
    font-size: 140%;
    font-weight: bold;
    margin-top: 0px;
    /* So the header doesn't overlap the content */
}

.nav-container {
    display: flex;
    /* Use flexbox for equally spaced items */
    justify-content: space-between;
    /* Space items evenly */
    padding: 0 20px;
    /* Add padding to the sides of the navigation bar */
}

.nav-item {
    background-color: #555;
    /* Background color for each boxed heading */
    padding: 10px 20px;
    /* Add padding inside each boxed heading */
    border-radius: 5px;
    /* Rounded corners for boxed headings */
}

.nav-item a {
    text-decoration: none;
    /* Remove underlines from links */
    color: #fff;
    /* Text color for links */
}

p,
a {
    display: inline-block;
    vertical-align: middle;
}

#calculate-btn {
    font-size: 16px;
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#calculate-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* #Whacky {
    style="background:url(http://farm4.static.flickr.com/3618/3697567056_45ae16f677_o.gif)"
} //FIXME */