.footer-item {
    display: inline-block;
    margin-right: 10px;
}

.stickyfooter {
    background-color: rgba(33, 33, 33, .9);
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    /* height: 8%;  */
} 
#stickyfooterText, #stickyfooterLink {
    /* padding: 10px 0; */
    /* Add some padding for spacing */
    font-family: Arial, sans-serif;
    font-size: 60%;
    font-weight: bold;
    /* margin-top: 0px; */
    /* So the header doesn't overlap the content */
}